<?xml version="1.0"?>
<robot name="pg70" 
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- BASE -->
  <link name ="world"/>
  <!-- Import Axis -->
  <xacro:include filename="$(find aurora_min_demo)/description/urdf/pg70.urdf.xacro"/>
  <!--Axis Position-->
  <xacro:schunk_pg70 prefix="pg70" parent="world">
    <origin xyz="0 0 0" rpy="${pi/2.} 0 ${pi/2.}"/>
  </xacro:schunk_pg70>
</robot>

