<launch>

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
  <arg name="limited" default="false"/>

	   <!-- 运行gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />


	<param name="robot_description" command="rosrun xacro xacro --inorder '$(find auror_assemble)/description/urdf/aurora_min_demo_wu.xacro'"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model mrobot -param robot_description"/>
  
  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur5.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />


  <rosparam command="load" file = "$(find aurora_ur5_moveit_config)/config/joint_names.yaml"/>

	<include file="$(find aurora_ur5_moveit_config)/launch/planning_context.launch">
		<arg name="load_robot_description" value="false"/>
	</include>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<param name="/use_gui" value="false"/>
		<rosparam param="/source_list">[/joint_states]</rosparam>
	</node> 

	<include file="$(find aurora_ur5_moveit_config)/launch/move_group.launch">
		<arg name="publish_monitored_planning_scene" value="true"/>
	</include>

	<include file="$(find aurora_ur5_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="true"/>
	</include>



</launch>
